#left, #right, #middle {
  width: 33%;
  float: left;
  min-height: 100px;
}

#status {
  border: 2px solid #000;
  padding: 10px;
}

#steps, #berry-tracker, #water-tracker {
  display: none;
}

button {
  background-color: #CDCDCD;
  border: solid 1px;
  border-radius: 2px;
  padding: 10px 20px;
}

#find-water {
  margin-left: 4px;
}

/*#berry-tracker {
  display: none;
}*/
